body {
    background: #8e8ef4;
    background: -webkit-linear-gradient(to right, #8defe8, #78a2ef, #6f6fea); 
    background: linear-gradient(to right, #6fcbc5, #6a8ac6, #6c6cb8);
}

.bg-white {
    background-color: #fcfcfc;
}

#descripcion {
    resize: none;
}

.centrado {
    text-align: center;
    vertical-align: middle;
}